:root {
    --red: #EF4023;
}

body {
    height:100%;
    margin: 0;
    background: var(--red);
}

#logoEl {
    margin-top: 125px;
}

.container {
    /* border: 3px solid blue; */
    background-color: white;
    padding: 30px;
}

.center {
    text-align: center;
    /* border: 3px solid blue; */
}